.dashboard-nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin: 0;
    padding: 0;
  }

  &__create-project {
    //padding-left: 3rem;
    padding-top: 3rem;
    border-top: 2px solid #F1F2F4;

    &-label {
      margin-left: 3rem;
      color: var(--stroke);
    }
  }

  .field__input {
    margin-top: .5rem;
    padding-left: 3rem;
    background-color: #e9f2ff;
    color: #0066F2;
    width: 28rem;
    border-radius: 0 50px 50px 0;
    border: none;
  }

  .btn {
    margin-left: 3rem;
    margin-top: 1.5rem;

    width: 25rem;
    height: 5rem;

    font-size: 1.5rem;
    font-weight: 500;

    background-color: #0066ff;
  }
}