.public-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  padding: 2rem 0;

  svg {
    transition: .3s ease-in-out;

    &:hover {
      transform: scale(1.05);

      filter: grayscale(0);
    }
  }
}