.public-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;

  padding: 2rem 0;

  background-color: white;

  svg {
    transition: .3s ease-in-out;

    &:hover {
      transform: scale(1.05);

      filter: grayscale(0);
    }
  }
}

.header__links {
  float: right;

  &__item {
    font-size: 2rem;
  }

  .log-in {
    margin-right: 2.5rem;

    font-weight: 600;

    &:hover {
      color: var(--primary-color);
    }
  }

  .get-started {
    display: inline-block;
    padding: 1rem 1.8rem;

    color: var(--bg-color);

    background-color: var(--primary-color);
    border-radius: 1rem;

    transition: .3s ease-in-out;

    &:hover {
      transform: scale(1.05);

      background-color: #075cdc;
    }
  }
}