.private-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3.2rem;

  border: 2px solid #F1F2F4;
  background-color: var(--accent-light);
}