.dashboard {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    margin-bottom: 2.5rem;

    background-color: var(--accent-light);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.2rem;
    padding: 3rem;
  }
}