.btn.btn-enable {
  width: 45.6rem;
  height: 5.3rem;
  border: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--bg-color);
  border-radius: 0.5rem;
}

.btn.btn-disabled {
  width: 45.6rem;
  height: 5.3rem;
  border: none;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--stroke);
  color: var(--bg-color);
  border-radius: 0.5rem;
  cursor: not-allowed;
}