.btn {
  width: 45.6rem;
  height: 5.3rem;
  border: none;

  color: var(--bg-color);
  text-align: center;
  text-transform: uppercase;

  background-color: var(--stroke);
  border-radius: 0.5rem;
  cursor: pointer;

  transition: .2s ease-in-out;

  &_disabled {
    background-color: var(--stroke);

    cursor: not-allowed;
  }

  &:hover {
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.26));
  }
}