.form_add__members {
  .btn {
    margin-left: 0;
  }

  &-field {
    margin-bottom: 10px;

    .field__input {
      width: 25rem;
      border-radius: 5px;
    }
  }

  &-button {
    width: 20rem;
  }

}