.board {
  display: flex;
  flex-direction: row;

  &-block {
    width: 25%;

    padding: 10px;
    margin: 20px;

    background-color: #adb5bd;
    border: 1px solid #000000;
    border-radius: 5px;
  }

  .item {
    margin: 20px 10px;
    padding: 20px 20px;
  }
}

.app-bar__title {
  padding: 16px;

  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.list {
  list-style: none;
  min-height: 24px;
  margin: 0;

  padding: 0 0 10px 0;
  position: relative;

  &__item {
    margin: 0 10px;
  }

  &_add-task {
    padding: 9px 20px;
    background-color: #f7f8f9;
    border-radius: 5px;

    text-align: left;
    cursor: pointer;
  }

  &_add-text {
    padding-left: 15px;

    color: #6A7185;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
  }

  &_add-plus {
    color: #ACB1BF;
  }
}

.list:last-child {
  padding: 0;
}

.card {
  padding: 10px 16px;
  position: relative;

  color: #424242;
  background-color: #FFFFFF;

  box-shadow: inset 122px 0px 0px -118px rgba(242, 168, 76, 1);

  border-radius: 10px;
  cursor: pointer;

  &_label {
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.015em;
  }

  &-item_widget {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;

    &__icon {
      margin-left: 10px;
    }

    .avatar {
      width: 26px;
      height: 26px;
    }
  }
}

.list__item + .list__item {
  margin-top: 14px;
}

.holder {
  &-title {
    display: flex;
    padding: 22px;

    background-color: #ffffff;
    color: #6A7185;

    font-weight: 600;
    border-bottom: 2px solid #F5F5F5;
    border-top: 2px solid #F5F5F5;

    &_text {
      padding-left: 8px;
    }
  }

  &__content {
    padding-top: 14px;
  }
}

.board_task {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2rem;
}

