.board {
  display: flex;
  flex-direction: row;

  &-block {
    width: 25%;

    padding: 10px;
    margin: 20px;

    background-color: #adb5bd;
    border: 1px solid #000000;
    border-radius: 5px;
  }

  .item {
    margin: 20px 10px;
    padding: 20px 20px;
  }
}

.app-bar__title {
  padding: 16px;

  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.list {
  list-style: none;
  min-height: 24px;

  padding: 0 0 10px 0;
  position: relative;

  &__item {
    margin: 0 10px;
  }

  &__item:last-child {
    margin: 0;
  }

  &_add-task {
    padding: 30px 20px;
    background-color: #8f9e9d;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    text-align: left;
  }

  &_add-text {
    padding-left: 15px;

    font-size: 20px;
    line-height: 17px;
    color: #FFFFFF;
  }

  &_add-plus {
    color: #ACB1BF;
  }
}

.list:last-child {
  padding: 0;
}

.card {
  padding: 10px 16px;
  position: relative;

  color: #000000;
  background-color: #6699CC;

  border-radius: var(--border-radius-500);
  cursor: pointer;

  &_label {
    text-align: left;
    line-height: 28px;
    font-size: 18px;
  }

  &_avatar {
    display: flex;
    justify-content: flex-end;

    padding: 8px 16px;
  }
}

.list__item + .list__item {
  margin-top: 0.5rem;
}

.holder {
  width: 19vw;
  margin: 0 12px;

  background-color: #ffffff;
  border-radius: 16px 16px 5px 5px;
}

.holder__title {
  margin-bottom: 1rem;
  padding: 22px;

  background-color: #ffffff;
  color: #6A7185;

  font-weight: 600;

  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}

.board_task {
  display: flex;
}

