.comments-in-desk {
  display: flex;
  align-items: center;

  padding: 4px 6px;
  border-radius: 5px;

  background: #EDF3FE;
  color: #ACB1BF;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.015em;
}