.add-task-form__fields {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .title {
    margin-bottom: 1.5rem;
  }

  .btn {
    margin: 2rem auto 0 auto;
  }
}

.selects {
  display: flex;
  gap: 2rem;
}

.dates {
  display: flex;
  gap: 2rem;
}