.container--public {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .column {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }

  .column:last-child {
    //background: blanchedalmond;
  }
}