.container--public {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .column {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .column:last-child {
    background: blanchedalmond;
  }
}