.forgot-user-password {

  .forgot-user-password_form {
    margin-bottom: 30px;

    .forgot-user-password_form__legend {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .forgot-user-password_form__text {
      margin-bottom: 32px;
      color: #6A7185;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.015em;
    }

    .forgot-user-password_form__title {
      margin-bottom: 20px;
      color: #000000;
      font-weight: 700;
      font-size: 50px;
    }

    .forgot-user-password_form__fields {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 36px;
    }
  }

  .forgot-user-password_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;


    .forgot-user-password_bottom__text {
      //margin-bottom: 10px;
    }
  }
}
