.task {
  width: 75rem;

  background-color: var(--accent-light);

  &__wrapper {
    display: none;

    transition: .3s ease-in-out;

    &.active {
      display: block;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__separator {
    margin: 2rem 0;
    height: 1px;

    background-color: var(--light-background);
  }

  &__edit {
    display: flex;
    align-items: center;
    gap: 5px;

    > svg {
      width: 2rem;
      height: auto;
    }
  }

  &__top {
    margin: 3rem 0;
  }

  &__chars {
    display: flex;
    gap: 9rem;
    margin-bottom: 2.5rem;
  }

  &__char {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    > .small-bolded-text {
      color: #ACB1BF;

      text-transform: uppercase;
    }

    > .small-text {
      font-weight: 500;
      color: var(--text-main);

      text-transform: capitalize;
    }
  }

  &__labels {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__label {
    padding: 5px 10px;

    background-color: rgba(237, 243, 254, 1);
    border-radius: 5px;

    text-transform: capitalize;

    > .small-text {
      color: var(--primary-color);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  &__description {
    > .medium-weight {
      margin-bottom: 1rem;
    }
  }

  &__comments {

    .comment-wrapper {
      flex-grow: 1;

      margin-bottom: 2rem;

      .comment {
        padding: 1rem;
        margin-bottom: 1rem;

        border-radius: 0 1rem 1rem 1rem;

        color: var(--stroke);
        background-color: #EDF3FE;

        &-user-name {
          margin-bottom: .7rem;

          font-size: 1.5rem;
          line-height: 1.5rem;
          font-weight: 600;
        }

        &-btn {
          color: var(--primary-color);
          text-decoration: underline;
        }
      }

      .comment-info {
        display: flex;
        justify-content: space-between;

        &__date {
          font-size: 1.2rem;
          line-height: 1.5rem;
          font-weight: 400;

          color: var(--text-light);
        }
      }

      .edit, .update {
        margin-right: 1rem;
      }
    }
  }

  .comments-form {
    margin: 1rem 0 3rem 0;
  }

  .block-with-avatar {
    display: flex;

    .commented-avatar {
      margin-right: 1rem;
    }
  }
}

.visible {
  display: block;
}

.invisible {
  display: none;
}
