.container--public {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .column {
    position: relative;
    display: flex;
    align-items: center;
    height: 88rem;

    border-top-right-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px;

    &--first {
      width: 53%;
      z-index: 2;
      padding-right: 4rem;

      background-color: var(--bg-color);
    }

    &--second {
      width: 47%;
      right: 7rem;
      z-index: 1;

      img {
        object-fit: cover;
        width: 115%;
        height: 100%;
      }
    }
  }
}

.section {

  &__features {
    display: flex;
    margin-bottom: 9rem;

    .features__header {
      width: 46%;

      h3 {
        font-size: 6rem;
        line-height: 8.7rem;
      }

      p {
        font-size: 2rem;
        line-height: 4rem;
      }
    }

    .features__details {
      width: 44%;
      margin-left: 15rem;
    }

    .details-text {
      display: flex;
      align-items: center;
      margin-bottom: 4.5rem;

      &-item {
        margin-left: 2.6rem;
      }
    }
  }

  &__header {
    font-size: 61px;
    line-height: 87px;
  }

  &__text {
    margin: 3.7rem 0;
  }

  &__link {
    width: 36rem;
    margin-top: 4rem;
    padding: 2rem;

    text-align: center;

    border-radius: 1rem;
    background-color: var(--primary-color);

    .link {
      font-size: 2.4rem;
      color: var(--bg-color);
    }

    .text-strong {
      font-weight: 600;
    }

    &:hover {
      background-color: #075cdc;
    }
  }

  h1, h2, h3, h4 {
    font-size: 6.1rem;
    line-height: 8.7rem;
  }

  h2 {
    margin: 10rem 0;

    font-size: 4rem;
  }

  h3 {
    font-size: 3.2rem;
  }

  h4 {
    font-size: 3.2rem;
    line-height: 6.2rem;
  }

  &__statistic {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__numbers {
    display: flex;

    .numbers__image {
      width: 50%;

      img {
        width: 100%;
      }
    }

    .numbers__statistic {
      width: 50%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-left: 4rem;

      &-item {
        height: 18.6rem;
        padding: 1.6rem;

        .title {
          font-size: 8rem;
          line-height: 8.7rem;
          font-weight: 700;

          color: var(--primary-color);
        }

        .text {
          margin-top: 4rem;

          font-size: 22px;
          line-height: 36px;
        }
      }
    }
  }

  &__quote {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0;
    margin-bottom: 13rem;
    height: 45rem;

    &-image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .quote__text-container {
      position: relative;
      z-index: 5;

      max-width: 93rem;
      text-align: center;

      .quote__text {
        color: var(--bg-color);

        font-size: 3rem;
        line-height: 4.5rem;
      }
    }

    .quote__image-container {
      position: relative;
      z-index: 5;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .image__text {
      margin-left: 2rem;
      color: var(--bg-color);
    }
  }

  &__footer {
    padding: 6rem 0;
    margin-bottom: 6rem;

    border-top: .1rem solid #dcdcdc;
    border-bottom: .1rem solid #dcdcdc;

    .footer__about {
      display: flex;
      flex-wrap: wrap;

      ul {
        padding: 0;

        list-style: none;
      }

      h5 {
        margin-bottom: 2.8rem;

        font-weight: 600;
        font-size: 2rem;
        line-height: 2.4rem;

        color: var(--primary-color);
      }

      li {
        margin-bottom: 1.7rem;

        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.2rem;
      }

      a {
        color: black;
      }

      a:hover {
        color: var(--primary-color);
      }

      .footer-col {
        margin-right: 10rem;
      }
    }
  }

  &__rights {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;

    p {
      font-size: 16px;
      line-height: 19px;

      color: var(--text-light);
    }
  }
}

.p-text {
  font-size: 2.4rem;
  line-height: 4rem;

  color: var(--text-light);
}

.statistic__header {
  color: var(--primary-color);
}

.statistic-text {
  margin-top: 1rem;
}

.list {
  text-align: center;

  &__text {
    font-size: 2.2rem;
    line-height: 3.3rem;

    color: var(--text-light);
  }

  &__brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 0 12rem 0;
  }
}

.cards {
  margin-bottom: 10rem;
}

.cards__items {
  display: grid;
  grid-gap: 2.6rem;
  grid-template-columns: repeat(3, 1fr);

  .card-item {
    position: relative;
    height: 18.6rem;

    padding: 1.6rem;

    box-shadow: .3rem .3rem .8rem #acacac;
    border-radius: .5rem;

    h5 {
      font-size: 2.4rem;
      line-height: 3.6rem;
      font-weight: 500;

      color: var(--primary-color);
    }

    p {
      position: absolute;
      bottom: 2rem;

      font-size: 1.8rem;
      line-height: 2.8rem;

      color: var(--text-light);
    }
  }
}

.exclamation-position {
  margin-left: 2rem;
}

.smile-position {
  margin-left: 3rem;
}

.primary-color {
  color: var(--primary-color);
}

.socials-svg {

  svg {
    margin-right: 1.5rem;
  }
}