.member_block {
  &__item {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    padding: 14px 8px;
  }

  &__information {
    margin-top: 6px;
    margin-left: 16px;
  }

  &__role {
    padding: 14px 20px;
    margin-left: auto;
  }
}