.input__toggle {
  position: absolute;
  top: 30%;
  right: 0;

  border: none;

  background-color: var(--bg-color);
  transform: translate(-40%);

  &-icon {
    width: 30px;
    height: 30px;
  }
}

.password-wrap {
  position: relative;
}
