.input__toggle {
  position: absolute;
  border: none;
  background-color: var(--bg-color);
  right: 0;
  transform: translate(-40%);
  top: 30%;

  &-icon {
    width: 30px;
    height: 30px;
  }
}

.password-wrap {
  position: relative;
}
